# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.github

# Lightning /research
test_tube_exp/
tests/tests_tt_dir/
tests/save_dir
default/
data/
test_tube_logs/
test_tube_data/
datasets/
model_weights/
tests/save_dir
tests/tests_tt_dir/
processed/
raw/
ckpts/
#wandb stuff
wandb/
whale_kaggle/

# seed project
lightning_logs/
.DS_Store

# pytest stuff
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode